@{
  Layout = "_Layout";
}
<div class="well">
<h1>Band Tracker</h1>
<h3>Venues:</h3>
@* Venue is an arbitrary name given to reference whatever is being used in the foreach loop *@
@foreach(var venue in Model["venues"])
{
  <ul>
    <h4><a href="/venues/@venue.Id">@venue.Name</a></h4>
    <li><a href="/venues/@venue.Id/update">Update</a></li>
    <li>
      <form action="/venues/@venue.Id/delete/success" method="post">
      <button class="btn btn-danger" type="submit" name="submit-button">Delete</button>
      </form>
    </li>
  </ul>
}

<h3>Bands:</h3>
@foreach(var band in Model["bands"])
{
  <ul>
  <li><a href="/bands/@band.Id">@band.Name</a></li>
  </ul>
}
<p><a href='/venues/add'>Add a new Venue</a></p>
<p><a href='/bands/add'>Add a new Band</a></p>

</div>


<h2>Blacklisted Bands (<strong>do not</strong> add these bands):</h2>
<ul>
  <li>My Chemical Romance</li>
  <li>Nickelback</li>
  <li>Creed</li>
</ul>
