@{
  Layout = "_Layout";
}
<div class="well">
<h1>Band Tracker</h1>
<h3>Venues:</h3>
@* Venue is an arbitrary name given to reference whatever is being used in the foreach loop *@
@foreach(var spacelounge in Model["venues"])
{
  <ul>
  <li><a href="/venues/@spacelounge.Id">@spacelounge.Name</a></li>
  </ul>
}

<h3>Bands:</h3>
@foreach(var chumbawumba in Model["bands"])
{
  <ul>
  <li><a href="/bands/@chumbawumba.Id">@chumbawumba.Name</a></li>
  </ul>
}
<p><a href='/venues/add'>Add a new Venue</a></p>

</div>


<h2>Blacklist (<strong>do not</strong> add these bands):</h2>
<ul>
  <li>My Chemical Romance</li>
  <li>Nickelback</li>
  <li>Creed</li>
</ul>
