@using BandTracker.Models;
@{
  Layout = "_Layout";
}
<div class="well">
<h1>Venue Info:</h1>
<h2>Name: @Model["venue"].Name</h2>
<h2>Bands that have played here:</h2>

@{
  foreach(var band in Model["bands"])
  {
    <h3>@band.Name</h3>
  }
}

<ul>
<li><a href="/">Home</a></li>
</ul>
